.c-card__title {
	font-weight: 700;
	font-size: 1.25rem;
	margin: 0
}

.c-card__subtitle {
	font-weight: 400;
	font-size: .875rem;
	color: #8fa8ba
}

.u-text--lg {
	font-size: 1.875rem
}

.u-margin--none {
	margin: 0
}
